@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.blur {
    filter: blur(25px);
    animation-name: example;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.no-blur {
    filter: blur(0);
    transition: filter 0.3s 0.3s ease-in;
}

@keyframes example {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
